<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlashPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FlashPanel.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>FlashPanel</value>
            </setting>
            <setting name="MenuBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolBarVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BookMarks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>F:\codingground\flash\TourDeFlex3\mx\charts\CandlestickChartExample\CandlestickChartExample.swf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PreviousDocuments" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>F:\codingground\flash\TourDeFlex3\mx\containers\AccordionExample\AccordionExample.swf</string>
                        <string>F:\codingground\flash\TourDeFlex3\mx\containers\FormExample\FormExample.swf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ChromePath" serializeAs="String">
                <value>C:\Program Files (x86)\Google\Chrome\Application\chrome.exe</value>
            </setting>
        </FlashPanel.Properties.Settings>
    </userSettings>
</configuration>